<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">ListOfCourse</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a onclick="navigate('compte')">Mon compte</a></li>
            <li><a onclick="navigate('archive')">Historique</a></li>
            <li><a onclick="logout()">Déconnexion</a></li>
            <li><a  class="modal-trigger" href="#modal1" onclick="notificationController.displayNotif()" ><span class="material-icons">notifications</span> <span id="notification"  class="new badge">0</span></a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a  class="modal-trigger" href="#modal1" onclick="notificationController.displayNotif()" ><span class="material-icons">notifications</span> <span id="notificationMenu"  class="new badge">0</span></a></li>
    <li><a onclick="navigate('index')">Accueil</a></li>
    <li><a onclick="navigate('compte')">Mon compte</a></li>
    <li><a onclick="navigate('archive')">Historique</a></li>
    <li><a onclick="logout()">Déconnexion</a></li>
</ul>

<div class="container">


    <h5 id="editTitle">Chercher un utilisateur</h5>
    <div id="formSearch">
        <div class="row">
            <!-- <form class="col s12"> -->
            <div class="row">
                <div class="input-field col s6">
                    <input id="fieldLogin" type="text" class="validate">
                    <label for="fieldLogin" >Login</label>
                </div>
                <div class="input-field col s6">
                    <p><label><input id="fieldAbonne" type="checkbox" /><span></span>Abonne</label></p>

                </div>

                <div class="input-field  col s6">
                    <button class="waves-effect waves-light btn" onclick="adminController.search()">Chercher</button>
                </div>
            </div>
            <!--</form>-->
        </div>

    </div>


    <div class="row">
        <div class="col s12">
            <table id="tableAllUsers" class="striped responsive-table" >
                <thead>
                <tr>
                    <th scope="col">Login</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Role</th>
                    <th scope="col">Active</th>
                    <th scope="col">Plus</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tableBodyAllUsers">
                </tbody>
            </table>

        </div>
    </div>

</div>

