<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Courses</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a onclick="navigate('index')">Accueil</a></li>
            <li><a onclick="logout()">Déconnexion</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a onclick="navigate('index')">Accueil</a></li>
    <li><a onclick="logout()">Déconnexion</a></li>

</ul>


<div class="container">
    <h3 id="editTitleCompte">User1</h3>


    <div id="formEditCompteAdresse">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="fieldNom" type="text" class="validate">
                        <label for="fieldNom" class="active">Nom</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="fieldAdresse" type="text" class="validate">
                        <label for="fieldAdresse" class="active">Adresse mail</label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <button class="waves-effect waves-light btn" onclick="compteController.save()">Modifier</button>
        </div>
    </div>

    <br>
    <hr>
    <br>
    <h4>Modifier votre mot de passe</h4>

    <div id="formEditCompteMdp">
        <div class="row">
            <form class="col s12">

                <div class="row">
                    <div class="input-field col s6">
                        <input id="fieldOldMdp" type="password" class="validate">
                        <label for="fieldOldMdp" class="active">Ancien Mot de passe</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="fieldMdp" type="password" class="validate">
                        <label for="fieldMdp" class="active">Nouveau mot de passe</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="fieldconfMdp" type="password" class="validate">
                        <label for="fieldconfMdp" class="active">Confirmer votre nouveau mot de passe</label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <button class="waves-effect waves-light btn" onclick="itemeditController.save()">Modifier</button>
        </div>
    </div>

</div>



