
<div id="formEditIngredient" >
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="fieldItemQte" type="number" class="validate">
                        <label for="fieldItemQte" >Quantité</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="fieldItemName" type="text" class="validate">
                        <label for="fieldItemName" >Article</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" onclick="itemeditController.save()"
               class="modal-close waves-effect waves-green btn-flat">Save</a>
        </div>
</div>