<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Courses</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a onclick="navigate('index')">Accueil</a></li>
            <li><a onclick="navigate('archive')">Historique</a></li>
            <li><a onclick="logout()">Déconnexion</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a onclick="navigate('itemedit')">Ajout article</a></li>
    <li><a onClick="navigate('archive')">Historique</a></li>
    <li><a onclick="logout()">Déconnexion</a></li>

</ul>



<table>
    <thead>
    <tr>
        <th>Valider</th>
        <th>Quantité</th>
        <th>Article</th>
        <th>Plus</th>
    </tr>
    </thead>
    <tbody id="itemsTable">

    </tbody>

</table>
<a id="addItem" class="waves-effect waves-light btn" style="float: right; margin: 2%;display: none" onclick="navigate('itemedit')" ><i class="material-icons right">add</i>Ajout article </a>
