<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Courses</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a onclick="navigate('index')">Accueil</a></li>
<!--            <li><a href="#formEditIngredient" class="modal-trigger">Ajout ingrédient</a></li>
            <li><a onclick="navigate('itemedit')" id="addItem">Ajout ingrédient</a></li>-->
            <li><a onclick="navigate('archive')">Historique</a></li>
            <li><a onclick="logout()">Déconnexion</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a onclick="navigate('itemedit')">Ajout ingrédient</a></li>
    <li><a onClick="navigate('archive')">Historique</a></li>
    <li><a onclick="logout()">Déconnexion</a></li>

</ul>



<table>
    <thead>
    <tr>
        <th>Valider</th>
        <th>Quantiter</th>
        <th>Article</th>
        <th>Plus</th>
    </tr>
    </thead>
    <tbody id="itemsTable">

    </tbody>

</table>
<a class="waves-effect waves-light btn" style="float: right; margin: 2%;" onclick="navigate('itemedit')"><i class="material-icons right">add</i>Ajout ingrédient </a>


<!--<div id="formEditIngredient" class="modal">-->
<!--    <div class="modal-content">-->
<!--        <div class="row">-->
<!--            <form class="col s12">-->
<!--                <div class="row">-->
<!--                    <div class="input-field col s6">-->
<!--                        <input id="fieldItemQte" type="number" class="validate">-->
<!--                        <label for="fieldItemQte" >Quantité</label>-->
<!--                    </div>-->
<!--                    <div class="input-field col s6">-->
<!--                        <input id="fieldItemName" type="text" class="validate">-->
<!--                        <label for="fieldItemName" >Article</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--            <a href="#!" onclick="itemeditController.save()"-->
<!--               class="modal-close waves-effect waves-green btn-flat">Save</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->