
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Courses</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a onclick="navigate('index')">Accueil</a></li>
            <li><a onclick="navigate('archive')">Historique</a></li>
            <li><a onclick="logout()">Déconnexion</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a onclick="navigate('index')">Accueil</a></li>
    <li><a onclick="navigate('archive')">Historique</a></li>
    <li><a onclick="logout()">Déconnexion</a></li>

</ul>

<div class="container">

    <h3 id="titlesharelist">Partage de la liste : </h3>


    <h5 id="editTitle">Chercher un utilisateur</h5>
    <div id="formSearch">
        <div class="row">
            <!-- <form class="col s12"> -->
                 <div class="row">
                     <div class="input-field col s6">
                         <input id="fieldLogin" type="text" class="validate">
                         <label for="fieldLogin" >Login</label>
                     </div>

                     <div class="input-field  col s6">
                         <button class="waves-effect waves-light btn" onclick="listshareController.search()">Chercher</button>
                     </div>
                 </div>
             <!--</form>-->
         </div>

     </div>


    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Login</th>
            <th>Plus</th>
        </tr>
        </thead>
        <tbody id="usersTable">
        </tbody>
    </table>
 </div>


<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Accès de la liste</h4>
        <p>Voulez-vous que l'utilisateur ait accès a la modification de la liste ?</p>
    </div>
    <div class="modal-footer" id="footerAcces">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat" onclick="listshareController.setState(false)">Non</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" onclick="listshareController.setState(true)">Oui</a>

    </div>
</div>

