<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">ListOfCourse</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="modal-trigger" href="#modal1" onclick="notificationController.displayNotif()" ><span class="material-icons">notifications</span><span id="notifiaction"></span></a></li>
            <li><a onclick="navigate('index')">Accueil</a></li>
            <li><a onclick="navigate('compte')">Mon compte</a></li>
            <li><a onclick="navigate('archive')">Historique</a></li>
            <li><a onclick="logout()">Déconnexion</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a  class="modal-trigger" href="#modal1" onclick="notificationController.displayNotif()" ><span class="material-icons">notifications</span><span id="notificationMenu"></span> </a></li>
    <li><a onclick="navigate('index')">Accueil</a></li>
    <li><a onclick="navigate('compte')">Mon compte</a></li>
    <li><a onclick="navigate('archive')">Historique</a></li>
    <li><a onclick="logout()">Déconnexion</a></li>
</ul>

<div class="container">
    <h4 id="editTitleCompte" style="background-color: gainsboro; padding: 10px; margin: 1.52rem 0 0;">Formulaire de paiement</h4>
    <div id="formEditCompteAdresse">
        <div class="row" style=" border: solid; border-color: gainsboro;" >
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">credit_card</i>
                        <input id="fieldCB" type="text" class="validate">
                        <label for="fieldCB" class="active">Numero carte bleu</label>
                    </div>

                    <div class="input-field col s3">
                        <i class="material-icons prefix">date_range</i>

                        <input id="fieldDateExp" type="text" class=" validate" >
                        <label for="fieldDateExp" class="active">02/23</label>
                    </div>
                    <div class="input-field col s3">
                        <i class="material-icons prefix">call_to_action</i>

                        <input id="fieldCVV" type="text" class="validate">
                        <label for="fieldCVV" class="active">CVV</label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <button class="waves-effect waves-light btn" onclick="subscribeController.add()">Payer</button>
        </div>
    </div>
