<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">ListOfCourse</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a onclick="navigate('index')">Accueil</a></li>
            <li><a onclick="navigate('compte')">Mon compte</a></li>
            <li><a onclick="navigate('archive')">Historique</a></li>
            <li><a onclick="logout()">Déconnexion</a></li>
            <li><a  class="modal-trigger" href="#modal1" onclick="notificationController.displayNotif()" ><span class="material-icons">notifications</span> <span id="notification"  class="new badge">0</span></a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a  class="modal-trigger" href="#modal1" onclick="notificationController.displayNotif()" ><span class="material-icons">notifications</span> <span id="notification"  class="new badge">0</span></a></li>
    <li><a onclick="navigate('index')">Accueil</a></li>
    <li><a onclick="navigate('compte')">Mon compte</a></li>
    <li><a onclick="navigate('archive')">Historique</a></li>
    <li><a onclick="logout()">Déconnexion</a></li>
</ul>

<div class="container">
    <h3 id="editTitleCompte">User1</h3>


    <div id="formEditCompteAdresse">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="fieldAdresse" type="text" class="validate">
                        <label for="fieldAdresse" class="active">Adresse mail</label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <button class="waves-effect waves-light btn" onclick="userEditController.save()">Modifier</button>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <h5>Notifications</h5>
        </div>
    </div>
    <div id="formEditNotifications">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="fieldTitle" type="text" class="validate">
                        <label for="fieldTitle" class="active">Titre</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="fieldText" type="text" class="validate">
                        <label for="fieldText" class="active">Texte</label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <span id="btNotifications" ></span>
        </div>
    </div>

    <div class="row">
        <div class="col s2"></div>
        <div class="col s8">
            <table id="tableAllNotifications" class="striped responsive-table" >
                <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Texte</th>
                    <th scope="col">Vue</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tableBodyAllNotifications">
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <h5>Rôles</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s2"></div>
        <div class="col s8">
            <table id="tableAllRoles" class="striped responsive-table" >
                <thead>
                <tr>
                    <th scope="col">Rôles</th>
                    <th scope="col">Action</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tableBodyAllRoles">
                </tbody>
            </table>
        </div>
    </div>


    <h5>Envoyer mail reset mot de passe</h5>
    <div class="row">
        <button class="waves-effect waves-light btn" onclick="userEditController.resetPwd()">Reset password</button>
    </div>

</div>


